* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
  background-color: #ebebeb;
}

#__next {
  height: 100%;
}

#App {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: "neue_soviet";
  font-style: normal;
  font-weight: 400;
  src: local("Neue Soviet"),
    url("../asset/neue_soviet/Neue_soviet.woff2") format("woff2"),
    url("../asset/neue_soviet/Neue_soviet.woff") format("woff");
}

@font-face {
  font-family: "tablon-rounded";
  font-style: normal;
  font-weight: 400;
  src: local("Neue Soviet"),
    url("../asset/tablon/Tablon-Round-Black.woff2") format("woff2"),
    url("../asset/tablon/Tablon-Round-Black.woff") format("woff");
}
