.bg {
  position: fixed;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
  background: transparent
    url("http://assets.iceable.com/img/noise-transparent.png") repeat 0 0;
  background-repeat: repeat;
  animation: bg-animation 0.2s infinite;
  opacity: 0.9;
  visibility: visible;
}

@keyframes bg-animation {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -5%);
  }
  20% {
    transform: translate(-10%, 5%);
  }
  30% {
    transform: translate(5%, -10%);
  }
  40% {
    transform: translate(-5%, 15%);
  }
  50% {
    transform: translate(-10%, 5%);
  }
  60% {
    transform: translate(15%, 0);
  }
  70% {
    transform: translate(0, 10%);
  }
  80% {
    transform: translate(-15%, 0);
  }
  90% {
    transform: translate(10%, 5%);
  }
  100% {
    transform: translate(5%, 0);
  }
}

.menu_container {
  position: fixed;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.buttons_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1vw;
}

.title {
  font-size: 30vw;
  font-family: "neue_soviet";
  text-align: center;
  justify-content: center;
  margin-top: 5vw;
}

.menu_button {
  font-family: "tablon-rounded";
  padding: 1vw;
  font-size: 4vw;

  width: 70%;

  border: 3px solid black;
  border-radius: 3px;

  background-color: #ebebeb;
}

.menu_button:hover {
  color: white;
  background-color: #a83142;
}

@media (max-width: 450px) {
  .menu_button {
    font-size: 7vw;
  }
  .title {
    font-size: 50vw;
    margin-top: 10vw;
  }
  .menu_container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr;
    height: 100px;
  }
}
